@import "./variable";

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

.Container {
  width: 100%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #e6eaea;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 360px) {
    width: 100%;
    height: 100vh;
  }
}

.SidePanel {
  width: 30%;
  min-width: 280px;
  max-width: 340px;
  height: 100%;
  background: $dark;
  color: $white;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: $break) {
    width: 58px;
    min-width: 58px;
  }
}

.Profile {
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $break) {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: $lighter;
  }

  .Wrap {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include transition(0.3s height ease);
    @media screen and (max-width: $break) {
      height: 55px;
    }

    .StatusWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 7px;
      }

      i {
        cursor: pointer;
        font-size: 18px;
      }
    }

    // img {
    //   width: 50px;
    //   border-radius: 50%;
    //   padding: 3px;
    //   height: auto;
    //   float: left;
    //   cursor: pointer;
    //   position: relative;
    //   @include transition(0.3s border ease);
    //   @media screen and (max-width: $break) {
    //     width: 40px;
    //     margin-left: 4px;
    //   }

    //   .fa-caret-down {
    //     color: #fff;
    //   }
    // }

    p {
      float: left;
      margin-left: 15px;
      color: $white;
      @media screen and (max-width: $break) {
        display: none;
      }
    }

    .StatusOptions {
      position: absolute;
      top: 0;
      opacity: 0;
      visibility: hidden;
      width: 150px;
      margin: 70px 0 0 0;
      border-radius: 6px;
      z-index: 99;
      line-height: initial;
      background: $light;
      @include transition(0.3s all ease);
      @media screen and (max-width: $break) {
        width: 58px;
        margin-top: 57px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid $light;
        margin: -8px 0 0 24px;
        @media screen and (max-width: $break) {
          margin-left: 23px;
        }
      }

      ul {
        overflow: hidden;
        border-radius: 6px;

        li {
          padding: 15px 0 30px 18px;
          display: block;
          cursor: pointer;
          @media screen and (max-width: $break) {
            padding: 15px 0 35px 22px;
          }

          &:hover {
            background: $lightest;
          }

          span.StatusCircle {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 5px 0 0 0;
            @media screen and (max-width: $break) {
              width: 14px;
              height: 14px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 14px;
              height: 14px;
              margin: -3px 0 0 -3px;
              background: transparent;
              border-radius: 50%;
              z-index: 0;
              @media screen and (max-width: $break) {
                height: 18px;
                width: 18px;
              }
            }
          }

          p {
            padding-left: 12px;
            @media screen and (max-width: $break) {
              display: none;
            }
          }

          &.StatusOnline {
            span.StatusCircle {
              background: $green;
            }

            &.active {
              span.StatusCircle {
                &:before {
                  border: 1px solid $green;
                }
              }
            }
          }

          &.StatusAway {
            span.StatusCircle {
              background: $yellow;
            }

            &.active {
              span.StatusCircle {
                &:before {
                  border: 1px solid $yellow;
                }
              }
            }
          }

          &.StatusBusy {
            span.StatusCircle {
              background: $red;
            }

            &.active {
              span.StatusCircle {
                &:before {
                  border: 1px solid $red;
                }
              }
            }
          }

          &.StatusOffline {
            span.StatusCircle {
              background: $gray;
            }

            &.active {
              span.StatusCircle {
                &:before {
                  border: 1px solid $gray;
                }
              }
            }
          }
        }
      }
    }

    #expanded {
      padding: 100px 0 0 0;
      display: block;
      line-height: initial !important;

      label {
        float: left;
        clear: both;
        margin: 0 8px 5px 0;
        padding: 5px 0;
      }

      input {
        border: none;
        margin-bottom: 6px;
        background: $lighter;
        border-radius: 3px;
        color: $white;
        padding: 7px;
        width: calc(100% - 43px);

        &:focus {
          outline: none;
          background: $light;
        }
      }
    }
  }

  .StatusBtn {
    background-color: #f73f3f;
    color: #fff;
    font-size: 1rem;
    padding: 1px 5px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }
}

.Search {
  border-top: 1px solid $lighter;
  border-bottom: 1px solid $lighter;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background: $lighter;
  margin-bottom: 20px;
  @media screen and (max-width: $break) {
    display: none;
  }

  label {
    margin: 0 10px;
    cursor: pointer;

    i {
      border-right: 1px dotted rgb(193, 194, 195);
      padding: 10px;
    }
  }

  input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 7px 10px;
    width: 100%;
    border: none;
    background: $lighter;
    color: $white;

    &:focus {
      outline: none;
      background: $light;
    }

    &::-webkit-input-placeholder {
      color: $white;
    }
    &::-moz-placeholder {
      color: $white;
    }
    &:-ms-input-placeholder {
      color: $white;
    }
    &:-moz-placeholder {
      color: $white;
    }
  }

  .RefreshBtn {
    width: 25px;
    margin: 0 10px;
    cursor: pointer;

    i {
      border-left: 1px dotted rgb(193, 194, 195);
      padding: 10px;
    }
  }
}

.Contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (max-width: $break) {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.expanded {
    height: calc(100% - 334px);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #243140;
  }

  ul {
    li.Contact {
      padding: 10px 0 15px 0;
      font-size: 0.9em;
      cursor: pointer;
      @media screen and (max-width: $break) {
        padding: 6px 0 46px 8px;
      }

      &:hover {
        background: $lighter;
      }

      &.active {
        background: $lighter;
        border-right: 5px solid $light;

        span.ContactStatus {
          border: 2px solid $lighter !important;
        }
      }

      .Wrap {
        width: 85%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: self-start;
        overflow: hidden;
        @media screen and (max-width: $break) {
          width: 100%;
        }

        span {
          position: absolute;
          left: 0;
          margin: -2px 0 0 -2px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 2px solid $dark;
          background: $gray;

          &.online {
            background: $green;
          }

          &.away {
            background: $yellow;
          }

          &.busy {
            background: $red;
          }
        }

        img {
          width: 40px;
          border-radius: 50%;
          margin-right: 10px;
          @media screen and (max-width: $break) {
            margin-right: 0px;
          }
        }

        .Meta {
          padding: 5px 0 0 0;
          @media screen and (max-width: $break) {
            display: none;
          }

          .Name {
            font-weight: 600;
            color: $white;
          }

          .Preview {
            margin: -5px 0 0 0;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $white;
            @include transition(1s all ease);
          }
        }
      }
    }
  }
}

.BottomBar {
  position: absolute;
  width: 100%;
  bottom: 0;

  button {
    border: none;
    width: 100%;
    padding: 10px 0;
    background: $lighter;
    color: $white;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    border-right: none;
    border-bottom: 1px solid $dark;
    @media screen and (max-width: $break) {
      padding: 15px 0;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background: $light;
    }

    i {
      margin-right: 3px;
      font-size: 1em;
      @media screen and (max-width: $break) {
        font-size: 1.3em;
      }
    }

    span {
      @media screen and (max-width: $break) {
        display: none;
      }
    }
  }
}

.ChatContent {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: $break) {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
  @media screen and (min-width: $break-big) {
    // width: calc(100% - 340px);
  }

  .ContactProfile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .FriendProfile {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
      }

      p {
        color: #333;
      }
    }

    .ChatOptions {
      span {
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }

  .Messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    @media screen and (max-width: $break) {
      max-height: calc(100% - 105px);
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }

    ul {
      li {
        display: inline-block;
        clear: both;
        float: left;
        margin: 15px 15px 5px 15px;
        width: calc(100% - 25px);
        font-size: 0.9em;

        &:nth-last-child(1) {
          margin-bottom: 20px;
        }

        &.Sent {
          img {
            margin: 6px 8px 0 0;
          }

          p {
            background: $light;
            color: $white;
          }
        }

        &.Replies {
          img {
            float: right;
            margin: 6px 0 0 8px;
          }

          p {
            background: $white;
            float: right;
          }
        }

        img {
          width: 22px;
          border-radius: 50%;
          float: left;
        }

        p {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 20px;
          max-width: 205px;
          line-height: 130%;
          @media screen and (min-width: $break) {
            max-width: 300px;
          }
        }
      }
    }
  }

  .MessageInput {
    position: absolute;
    bottom: -3px;
    width: 100%;
    z-index: 99;

    .Wrap {
      position: relative;

      input {
        font-family: "proxima-nova", "Source Sans Pro", sans-serif;
        float: left;
        border: none;
        width: calc(100% - 90px);
        padding: 11px 32px 10px 8px;
        font-size: 0.8em;
        color: $lighter;
        @media screen and (max-width: $break) {
          padding: 15px 32px 16px 8px;
        }

        &:focus {
          outline: none;
        }
      }

      .Attachment {
        position: absolute;
        right: 60px;
        z-index: 4;
        margin-top: 10px;
        font-size: 1.1em;
        color: $light;
        opacity: 0.5;
        cursor: pointer;
        @media screen and (max-width: $break) {
          margin-top: 17px;
          right: 65px;
        }

        &:hover {
          opacity: 1;
        }
      }

      button {
        float: right;
        border: none;
        width: 50px;
        padding: 12px 0;
        cursor: pointer;
        background: $lighter;
        color: $white;
        @media screen and (max-width: $break) {
          padding: 16px 0;
        }

        &:hover {
          background: $light;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
