@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500");
@import "./styles/variable";

.chat-section {
  overflow-x: hidden;
  background: #cdd3d5;
  height: 100vh;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #257aa6;
}

p {
  font-size: 13px;
  color: #333;
  line-height: 2;
}

.error {
  font-weight: 300;
  font-size: 0.6rem;
  margin-top: -10px;
  color: rgb(215, 215, 211);
}

#status-options.Active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
  @media screen and (max-width: $break) {
    margin-top: 62px;
  }
}
#profile-img {
  &.Online {
    border: 2px solid $green;
  }

  &.Away {
    border: 2px solid $yellow;
  }

  &.Busy {
    border: 2px solid $red;
  }

  &.Offline {
    border: 2px solid $gray;
  }
}
